@import "fonts"

$color-white: #ffffff
$color-text: #aa8d37
$color-title: #a89249
$color-link: #1f2024

body
    margin: 0
    padding: 0

*, *:after, *:before
    box-sizing: border-box
    text-decoration: none
    outline: none

h1, h2, h3, h4, h5, h6, p, span, 
    margin: 0

.container
    width: 100%
    max-width: 1140px
    height: 100%
    margin-left: auto
    margin-right: auto

.line
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 0

.content
    display: flex
    height: 100%

.temno
    width: 100%
    height: 100%
    background: rgba(0,0,0,0.6)
    position: absolute
    top: 0
    left: 0

.btn
    background: transparent
    border-width: 0
    

.btn-close
    position: absolute
    top: 30px
    right: 50px
    font-size: 50px
    background: transparent
    color: $color-white
    border-width: 0
    transition: 0.5s all
    outline: none
    &:hover
        cursor: pointer
        color: #aa8d37

input[name="phone"]
    color: #ffffff

input[type="submit"]
    &:hover
        cursor: pointer

.button_top
    display: none
    position: fixed
    justify-content: center
    align-items: center
    height: 60px
    width: 60px
    background: #a07419
    z-index: 9000
    padding: 15px
    bottom: 50px
    right: 50px
    border-radius: 100px

    &:hover
        cursor: pointer

    img
        width: 100%


// дизайн сайта
@import 'menu-toggle'
@import 'popup-toggle'
@import 'header'
@import 'section-tabs'
@import 'section-unic'
@import 'section-face'
@import 'section-progress'
@import 'section-events'
@import 'section-pris'
@import 'section-partner'
@import 'section-presoed'
@import 'footer'